body {
    &.desktop {
        .q-focusable:focus, .q-hoverable:hover {
            .q-focus-helper {
                background: initial;
            }
        }
    }
}

.q-btn {
    color: $msts-btn-default-color;
    border-color: $msts-btn-default-border;

    background: transparent;
    white-space: nowrap;
    word-spacing: 1px;
    font-weight: bold;

    &.disabled, &:disabled {
        color: $msts-btn-disabled-color;

        &:hover, &:active {
            // background: transparent !important;
            border-color: $msts-btn-border-color-disabled !important;
        }
    }

    &-outline {
        min-width: $msts-btn-min-width;
        border-width: 1px;
        border-style: solid;

        &.primary {
            border-color: $msts-btn-border-color-focus;
        }

        &:focus {
            color: $msts-btn-color-focus;
            border-color: $msts-btn-color-focus;
        }

        &:hover {
            background: $msts-btn-background-hover;
            color: $msts-btn-border-color-hover;
            border-color: $msts-btn-border-color-hover;
        }

        &:active {
            color: $msts-btn-border-color-hover;
            border-color: $msts-btn-border-color-hover;
            background: $msts-btn-background-pressed !important;
        }

        &.disabled, &:disabled {
            border-color: $msts-btn-outline-border-color-disabled;
            color: $msts-btn-outline-border-color-disabled;
        }

        &.msts-btn {
            &-positive {
                &:hover, &:active {
                    color: $positive;
                    border-color: $positive;
                }

                &:focus {
                    border-color: lighten($positive, 20%); // TODO: Use defined colour once the Horizon style guide is updated.
                }
            }

            &-warning {
                &:hover, &:active {
                    color: $warning;
                    border-color: $warning;
                }

                &:focus {
                    border-color: lighten($warning, 20%); // TODO: Use defined colour once the Horizon style guide is updated.
                }
            }

            &-negative {
                &:hover, &:active {
                    color: $negative;
                    border-color: $negative;
                }

                &:focus {
                    border-color: lighten($negative, 20%); // TODO: Use defined colour once the Horizon style guide is updated.
                }
            }

            &-sm {
                min-width: $msts-btn-min-width-sm;
            }
        }
    }

    &-flat {
        &.msts-btn-interactive, &.primary  {
            color: $msts-btn-flat-default-color;

            &.primary {
                color: $msts-btn-color-active;
            }

            &.icon-only {
                &:hover {
                    color: $msts-btn-color-hover;

                    &:active {
                        background: $msts-btn-flat-icon-pressed-bg
                    }
                }
            }

            &:hover {
                &.msts-btn-interactive {
                    color: $msts-btn-border-color-hover;
                }
            }

            &:focus {
                color: $msts-btn-color-focus !important;
            }

            &:active {
                background: $gray-g4 !important;
            }

            &.disabled, &:disabled {
                color: $msts-btn-disabled-color;

                &.icon-only {
                    color: $msts-btn-flat-icon-disabled;
                }

                &:hover {
                    &.msts-btn-interactive {
                        color: $msts-btn-disabled-color;
                    }
                }

                .material-icons {
                    color: $gray-g11;
                }
            }
        }

        &-rectangle, &-outline{
            border-radius: 4px;
        }
    }
}
