
.q-if {
  &:before, &:hover:before {
    color: $gray-g11;
  }

  &:hover:before {
    height: msts-rem-calc(2px);
  }
}
.q-if-error:before {
  height: msts-rem-calc(2px);
}

.q-if-label {
  top: msts-rem-calc(8px);
}

.q-if-label-above {
  transform: scale(1) translate(0, -12px);
  font-size: $msts-font-size-small;
}

.text-primary.q-if-focused.q-input {
  color: $msts-input-focused-color !important;
}

.q-input {
  padding-bottom: msts-rem-calc(10px);

  &, & .q-input-target {
    font-size: $msts-font-size-1up
  }
}

// This style is use to adjust the eye icon in the input type equal to password
.q-input > .q-icon {
  margin-bottom: 8px;
}

.q-input-target {
  // This class is added to quasar components that are not inside .q-field. e.g.
  // Page selector in the pagination of q-table.
  // For styling form inputs use the `.q-input .q-input-target` rule above
  color: $body-color;
}

.q-field {
  position: relative;
  padding-bottom: msts-rem-calc(26px);
}

.q-field-content .q-input {
  height: msts-rem-calc(56px);
  background-color: $gray-g2
  padding: msts-rem-calc(8px 12px);
}

.q-field-bottom {
  bottom: msts-rem-calc(7px);
  position: absolute;
  padding-left: msts-rem-calc(12px);
  white-space: nowrap;
  overflow: hidden;
}
