// .layout-aside {
//   color: $msts-layout-aside-color;


//   .layout-aside-top {
//     position: relative;
//     height: $toolbar-min-height;

//     +msts-breakpoint-up(md) {
//       height: msts-rem-calc(60px);
//     }
//   }

//   .q-item-link {
//     height: msts-rem-calc(50px);
//     font-size: $medium-2up-font-size;
//     padding-left: ($item-padding/2) * 3;
//   }

//   .router-link-active {
//     padding-left: $item-padding;
//     border-left: ($item-padding/2) solid $msts-layout-aside-active-link;
//     background: none;
//   }
// }

// .layout-footer {
//   padding-top: msts-rem-calc(74px);
// }

.q-layout {
    &-page {
        margin: 0 msts-rem-calc(5px);
        +msts-breakpoint-up(md) {
            margin: 0 msts-rem-calc(30px);
            max-width: $msts-page-max-width;
        }

        @media screen and (min-width: $msts-breakpoint-max-fluid-width-px) {
            margin: 0 auto;
        }
    }

    &-footer {
        height: msts-rem-calc(192px);

        .footer {
            height: msts-rem-calc(112px)
            background: $msts-footer-background;
        }
    }
}

.msts-side-menu-drawer .q-layout-drawer {
    // all style here under drawer so it should not effect the other component
    .q-item {
        font-size: $msts-font-size-1up;
        border-left: 4px solid transparent;
        background-color: transparent;
    }

    // remove the color and put the underline for item hover
    .q-item-link:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    // This style color the left border when the item has been clicked
    .router-link-active {
        border-left-color: $primary;
        color: $primary;
    }

    // this style override the default quasar style to remove the line breaker between sections
    .q-item-division + .q-item-division:after,
    .q-item-division + .q-item-inset-separator:after {
        background: transparent;
    }
}
