
.q-list.msts-menu-list {
  border: none;
  padding-bottom: msts-rem-calc(14px);

  > .q-list-header {
    color: $gray-g9;
    font-weight: $msts-font-weight-bold;
    line-height: 1;
    min-height: 100%;
    text-transform: uppercase;
  }

  > .q-list-header, .q-item {
    font-size: $msts-font-size-1up;
    padding-left: msts-rem-calc(29px);
  }

  .q-item.router-link-active {
    color: $link-color-active;
    background: none;
  }

  &:first-of-type {
    > .q-list-header {
      padding-bottom: msts-rem-calc(10px);
      padding-top: 0;
    }
  }
}
.msts-side-menu-drawer{
  .q-list{
    .q-list {
      border : 0px;
      padding: 0px;

      .q-list-header {
        padding: msts-rem-calc(8px 20px);
        //overwrite quasar default value min-height equals to 48px
        min-height: msts-rem-calc(24px);
        line-height: msts-rem-calc(24px);
        font-size: $msts-font-size-1up;
      }
      .q-item {
        padding-left: $msts-space-xxl;
      }
    }
  }
}
