.modal.minimized .modal-content {
  max-width: 38.889vw; // translates to ~560px on 1440px window width

  +msts-breakpoint-up(lg) {
    max-width: msts-rem-calc(560px);
  }
}

.modal-content {
  border-radius: $msts-modal-border-radius;
  font-size: $medium-up-font-size;
}
.modal-body {
  line-height: 1.4;

  .q-field {
    padding-bottom: 0;
    border-radius: msts-rem-calc(4px);

    .q-field-content {
      margin-bottom: msts-rem-calc(26px);

      .q-input,
      .q-select {
        background: $white;
        border-radius: msts-rem-calc(4px);
        border: msts-rem-calc(1px) solid $gray-g4;

        &:hover {
          border-color: $gray-g7;
        }

        &.q-if-focused {
          border: msts-rem-calc(1px) solid $msts-btn-border-color-hover;
        }

        &.q-if-error {
          border: msts-rem-calc(1px) solid $msts-default-red;
        }
      }

      .q-field-bottom {
        .q-field-helper {
          padding-top: msts-rem-calc(4px);
        }
      }

      .q-if {
        &::before,
        &::after {
          content: none;
        }
      }
    }
  }

  .q-field[readonly] .q-input {
    border: msts-rem-calc(1px) dashed $gray-g11;
  }
}

.modal-header {
  background-color: $gray-g2;
  color: $gray-g8;
  font-weight: $msts-font-weight-medium;

  &:after,
  &:before {
    content: '';
    position: absolute;
    float: left;
    height: msts-rem-calc(1px);
    display: inherit;
    left: 0;
    top: msts-rem-calc(67px);
    margin-top: msts-rem-calc(1px);
    width: 100%;
    background: $gray-g11;
  }

  .q-icon {
    font-size: msts-rem-calc($h3-font-size-d);
    position: relative;
    top: msts-rem-calc(-1px);
  }
}

.modal-buttons {
  .q-btn {
    &.q-btn-outline {
      min-width: 0;
    }

    &.primary {
      background: $blue-b1 !important;
      color: $white;

      &.disabled {
        background: $gray-g3 !important;
        color: $gray-g11;
      }
    }
  }

  &.row .q-btn + .q-btn {
    margin-left: 8px;
  }

  .q-btn-inner {
    // Workaround for button text not being vertically aligned correctly.
    // e.g. vertical-align: middle; is off by one pixel.
    margin-top: 1px;
  }
}
