.q-popover {
    background: $msts-popover-background;
    border-radius: $msts-popover-border-radius;

    .q-list > .q-item {
        background: none !important;
    }

    .q-item {
        font-size: $msts-font-size-1up;
        min-height: 32px;
        max-height: 32px;
        padding: 6px 16px;
        color: $gray-g9;
        white-space: nowrap;

        &:hover {
            background: $gray-g4 !important;
            text-decoration: underline;
        }

        &.active {
            background: transparent !important;
        }
    }

    .q-item-side {
        min-width: 29px;
    }

    .q-radio-checked,
    .q-radio-unchecked {
        .q-icon {
            margin-left: -2px;
        }
    }


    .q-radio-checked {
        color: $primary;
    }

    .q-radio-unchecked {
        color: $gray-g5;
    }

    .q-icon {
        width: 24px;
        height: 24px;
    }
}
