.q-field-content .q-select {
  height: msts-rem-calc(56px);
  background-color: $gray-g2
  padding: msts-rem-calc(8px 12px);

  .q-icon {
    line-height: @height - (@padding[0] * 2);
  }
}

.q-select {
  font-size: $msts-font-size-normal;
}
