.q-table {
    th, td {
        padding-left: msts-rem-calc(12px);
        padding-right: msts-rem-calc(12px);
    }

    > thead {
        background: $msts-th-background-color;

        > tr {
            height: msts-rem-calc(50px);
        }

        th {
            font-size: $medium-up-font-size;
            font-weight: $msts-font-weight-normal;
        }
    }

    > tbody > tr {
        height: msts-rem-calc(50px);

        &:nth-child(odd) {
            background: $msts-tr-odd-color;
        }

        &:nth-child(even) {
            background: $msts-tr-even-color;
        }
        > td {
            font-size: $body-font-size;
        }
    }

    &-top {
        padding: 0;
    }

    &-container {
        box-shadow: none;
    }

    &-vertical-separator {
        th, td {
            border-width: 0 0 0 1px;
            border-color: $msts-td-border-color;

            &:first-child {
                border-left: 0;
            }
        }

        thead {
            border-width: 0;
        }
    }

    .q-btn {
        min-height: msts-rem-calc(30px);
    }

}

.q-table-bottom {
    .q-hoverable.q-btn-flat.text-grey-8 {
        // Fix the colour for pagination arrows
        // !important required to override quasar's important :(
        color: $body-color !important;
    }

    // BCAAS: 981 - text-grey-8 defined on q-table by quasar, need to override
    .q-table-control {
        .material-icons {
            color: $gray-g6 !important;

            &.q-if-control {
                color: $gray-g5 !important;
            }
        }
    }
}


.q-table-bottom {
    border-top: 2px $gray-g4 solid;
}

+msts-ie11-up() {
    // Fix the drop down arrow for page size selector
    .q-select.q-table-bottom-item > .q-if-inner {
        flex-basis: auto;
    }
}
