.q-toggle-handle {
  width: msts-rem-calc(20px);
  height: msts-rem-calc(20px);
  line-height: msts-rem-calc(20px);
}

.q-toggle .q-option-inner {
  padding-top: msts-rem-calc(3px);
  width: msts-rem-calc(34px);
  min-width: msts-rem-calc(34px);
}

.q-toggle-base {
  height: msts-rem-calc(14px);
}

.q-toggle .q-option-inner.active .q-toggle-handle {
  left: msts-rem-calc(17px);
}

// A reversed toggle where label is rendered before the toggle
.q-toggle.toggle-reversed {
  flex-direction: row-reverse;

  .q-option-label {
    margin-left: 0;
    margin-right: msts-rem-calc(15px);
  }
}
