.q-toolbar {
    width: initial;
    max-width: $msts-page-max-width;
    margin: 0 30px;
    padding: 4px 0;

    @media screen and (min-width: 1440px) {
        margin: 0 auto;
    }

    &-title {
        padding: 0;
    }

    .q-toolbar-title .q-btn {
        font-size: $medium-2up-font-size;
        font-weight: normal;
        color: $white;

        i.on-left {
            margin-right: 7px;
            font-size: msts-rem-calc(28px);
        }
    }

    .q-btn-dropdown {
        font-size: $msts-font-size-2up;
        font-weight: normal;
        line-height: msts-rem-calc(21px);
        color: $body-color;

        i.q-icon {
            color: $gray-g5;
        }
    }

    .q-btn-dropdown, .q-select {
        i.q-icon {
            width: 10px;
            margin-left: 9px;
            margin-top: 1px;
        }
    }

}
