
.msts-container-card {
  background-color: $gray-g1;
  margin: 0;

  > .q-card-container {
    padding-top: msts-rem-calc(34px);
    padding-bottom: msts-rem-calc(20px);
    padding-right: msts-rem-calc(20px);
    padding-left: msts-rem-calc(20px);
  }

  > .q-card-container:first-child {
    padding: msts-rem-calc(17px 20px 15px 20px);
    border-bottom: msts-rem-calc(1px) solid $gray-g3;
  }

  +msts-breakpoint-up(md) {
    > .q-card-container.q-card-main {
      padding-top: msts-rem-calc(34px);
      padding-bottom: msts-rem-calc(20px);
    }
  }

  .q-card-title {
    @extend h2;
    margin: 0;
    line-height: msts-rem-calc(28px);
  }

  > .q-card-separator {
    background-color: $gray-g2;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    display: inline-block;
  }

  & a, .button {
    white-space: nowrap;
    padding: 0.7rem 1rem;
  }
}

.msts-outlined-button {
  border: msts-rem-calc(1px) solid $link-color;
}

.line-across {

  overflow: hidden;

  &:after {
    background-color: $gray-g4;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: msts-rem-calc(8px);
    margin-right: -100%;
    margin-top: -1px;
  }
}

.msts-dialog {
  .modal-content {
    width: msts-rem-calc(618px);

    .modal-body {
      &.modal-scroll {
        max-height: none;
      }

      div.v-popover {
        padding-right: msts-rem-calc(10px);
      }

      div.v-popover + p {
        margin-bottom: msts-rem-calc(5px);
      }

      .q-field {
        .bcaas-form-clickable-popover {
          .q-icon {
            &.q-if-control {
              color: $link-color;
            }
          }
        }
      }
    }
	}

  &.success {
    .modal-header {
      .q-icon { color: $msts-default-green; }
      &:after { background: $msts-default-green; }
    }
  }
  &.info {
    .modal-header {
      .q-icon { color: $blue-b1; }
      &:after { background: $blue-b1 }
    }
  }
  &.warning {
    .modal-header {
      .q-icon { color: $msts-default-yellow; }
      .warning-outlined-icon {
          padding-right: msts-rem-calc(7px);
          svg {
              fill: $msts-default-yellow;
          }
      }
      &:after { background: $msts-default-yellow; }
    }
  }
  &.error {
    .modal-header {
      .q-icon { color: $msts-default-red; }
      &:after { background: $msts-default-red; }
    }
  }
}

