/**
 All rules are mobile-first based on foundation's default mobile styles
 */
html,
body {
  font-size: $global-font-size;
}

body {
  font-size: 1rem;
}

svg {
  fill: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $heading-color;
}

h1, .h1 {
  line-height: $h1-line-height;
  font-size: 1.5rem;
  font-weight: normal;
}

h2, .h2 {
  font-size: 1.25rem;
  font-weight: 300;
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: $grey-9;
}

h5, .h5 {
  font-size: $medium-2up-font-size;
}

/*
div,
span,
p,
ul,
li,
a {
  line-height: 1.4;
}
*/

fieldset, legend {
  margin: 0;
  border: 0;
  padding: 0;
}

fieldset + fieldset {
  margin-top: 1.4rem;
}

+msts-breakpoint-up(sm) {
  h1, .h1 {
    font-size: $h1-font-size-d;
    letter-spacing: normal;
    margin-top: $heading-margin-top-d;
    margin-bottom: $heading-margin-bottom-d;
  }

  h2, .h2 {
    font-size: 1.7142857rem;
  }
}

a {
    color: $link-color;
    text-decoration: none;

    &:visited {
      color: $link-color-visited;
    }

    &:hover {
        text-decoration: underline;
    }

    &.disabled, .disabled {
        color: $gray-g5;

        .q-icon {
            color: $gray-g11;
        }
    }
}
