// All one-liner rules

full-height {
  height: 100%;
}

/************************************
 * Font
 ************************************/
.f-small {
  font-size: $msts-font-size-small;
}

.f-normal {
  font-size: $body-font-size;
}

.f-1up {
  font-size: $msts-font-size-1up;
}

.f-2up {
  font-size: $msts-font-size-2up;
}

.f-h2 {
  font-size: $h2-font-size-d; // 32px
}

.f-h3 {
  font-size: $h3-font-size-d; // 24px
}

.f-title {
  font-size: $msts-font-size-title; // 40px
}

.bold {
  font-weight: bold;
}

.fw-light {
  font-weight: 300;
}

/************************************
 * Position and Display
 ************************************/

.d-ib {
  display: inline-block;
}

.relative {
  position: relative;
}

.no-warp {
  white-space: nowrap;
}

/************************************
 * Cursor
 ************************************/
.c-def {
 cursor: default;
}

.c-pointer {
  cursor: pointer;
}

/************************************
 * SVG
 ************************************/

.fill-light {
  fill: $white;
}

.fill-dark {
  fill: $dark;
}

.fill-body-color {
  fill: $body-color;
}

.fill-link {
  fill: $link-color;
}

.fill-warning {
  fill: $warning;
}

.fill-negative {
  fill: $negative;
}

.fill-g5 {
 fill: $gray-g5;
}

/************************************
 * Text
 ************************************/

 .text-link-color {
  color: $link-color !important;
 }

 .color-g6,
 a.color-g6:hover,
 a.color-g6:visited,
 a.color-g6:focus {
    color: $gray-g6;
 }

.text-gray-g1 {
    color: $gray-g1;
}

.text-body-color {
    color: $body-color;
}

 /************************************
 * Icon
 ************************************/
 .icon-small {
   font-size: 10px;
 }

 .icon-normal {
   font-size: msts-rem-calc(24px);
 }


/************************************
 * Border
 ************************************/
 .border-dotted {
    border-style: dotted;
}

.border-solid {
    border-style: solid;
}

.border-thin {
    border-width: 1px;
}

.border-normal {
    border-width: 2px;
}

.border-thick {
    border-width: 3px;
}

.border-bottom-only {
    border-left-width: 0px !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
}

.border-top-only {
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
}

.border-g3 {
    border-color: $gray-g3;
}

.border-g4 {
    border-color: $gray-g4;
}

.border-g11 {
    border: 1px solid $gray-g11;
}

.border-round {
    border-radius: 50%;
}

/************************************
 * Background Colours
 ************************************/

.card-shadow {
    box-shadow: $card-shadow !important;
}

/************************************
 * Quasar Style Classes
 ************************************/

.bg-grayg1 {
    background: $gray-g1;
}

.bg-grayg2 {
    background: $gray-g2;
}

.bg-grayg3 {
    background: $gray-g3;
}

.bg-grayg4 {
    background: $gray-g4;
}

.bg-grayg5 {
    background: $gray-g5;
}

.bg-grayg6 {
    background: $gray-g6;
}

.bg-grayg7 {
    background: $gray-g7;
}

.bg-grayg8 {
    background: $gray-g8;
}

.bg-grayg9 {
    background: $gray-g9;
}

.bg-grayg10 {
    background: $gray-g10;
}

.bg-grayg11 {
    background: $gray-g11;
}

.text-grayg1 {
    color: $gray-g1;
}

.text-grayg2 {
    color: $gray-g2;
}

.text-grayg3 {
    color: $gray-g3;
}

.text-grayg4 {
    color: $gray-g4;
}

.text-grayg5 {
    color: $gray-g5 !important;
}

.text-grayg6 {
    color: $gray-g6;
}

.text-grayg7 {
    color: $gray-g7;
}

.text-grayg8 {
    color: $gray-g8;
}

.text-grayg9 {
    color: $gray-g9;
}

.text-grayg10 {
    color: $gray-g10;
}

.text-grayg11 {
    color: $gray-g11;
}

