@import '../mixins/styles'

.align-center {
  display: flex;
  justify-content: center;
}

.font-weight-normal {
    font-weight: $msts-font-weight-normal;
}

.v-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  middle-align-mixin();
}

.with-bubble {
  position: relative;
  display: inline-block;

  &:before {
    content: attr(data-bubble-content);
    position: absolute;
    border-radius: 50px;
    background-color: $negative;
    top: -50%;
    right: -50%;
    color: $white;
  }

  &.tiny:before {
    top: -35%;
    right: -35%;
    padding: 2px 5px;
    font-size: $small-font-size;
  }
}

.with-helip {
  &:before {
    content: '\2026';
    position: relative;
    top: -0.10em;
    font-size: 1.5em;
    line-height: 0.5;
    font-weight: bold;
    margin-right: 0.2em;
    display: inline-block;
  }
}

a.with-helip:hover:before {
  text-decoration: none;
}

.cover-rel-parent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

a.svg-icon-link {
  &:active > .svg-icon {
    fill: $link-color-active;
  }
}

.single-line-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}
