/************************************
 * Grid column spacing
 ************************************/

.col-pad-left {
  padding-left: $msts-col-padding;
}

.col-pad-right {
  padding-right: $msts-col-padding;
}

.col-pad {
  padding-left: $msts-col-padding;
  padding-right: $msts-col-padding;
}

.no-col-pad-left {
  padding-left: 0;
}

.no-col-pad-right {
  padding-right: 0;
}

.no-col-pad {
  padding-left: 0;
  padding-right: 0;
}

for $name, $size in $msts-bp-max
//*
  +msts-breakpoint-only($name) {
    .col-pad-left-{$name} {
      padding-left: $msts-col-padding;
    }

    .col-pad-right-{$name} {
      padding-right: $msts-col-padding;
    }

    .no-col-pad-left-{$name} {
      padding-left: 0;
    }

    .no-col-pad-right-{$name} {
      padding-right: 0;
    }

    .col-pad-{$name} {
      padding-left: $msts-col-padding;
      padding-right: $msts-col-padding;
    }

    .no-col-pad-{$name} {
      padding-left: 0;
      padding-right: 0;
    }

  }
//*/

/************************************
 * Paddings
 ************************************/
.pl-1rem {
  padding-left: 1rem;
}

.v-padding-xs {
    padding-top: $msts-space-xs;
    padding-bottom: $msts-space-xs;
}

.v-padding-sm {
    padding-top: $msts-space-sm;
    padding-bottom: $msts-space-sm;
}

.v-padding-md {
    padding-top: $msts-space-md;
    padding-bottom: $msts-space-md;
}

.v-padding-lg {
    padding-top: $msts-space-lg;
    padding-bottom: $msts-space-lg;
}

.v-padding-xl {
    padding-top: $msts-space-xl;
    padding-bottom: $msts-space-xl;
}

.v-padding-xxl {
    padding-top: $msts-space-xxl;
    padding-bottom: $msts-space-xxl;
}

.v-padding-top-lg {
    padding-top: $msts-space-lg;
}

.v-padding-bottom-sm {
   padding-bottom: $msts-space-sm;
}

.v-padding-bottom-md {
   padding-bottom: $msts-space-md;
}

.v-padding-bottom-lg {
  padding-bottom: $msts-space-lg;
}

.v-padding-bottom-xl {
  padding-bottom: $msts-space-xl;
}

.v-padding-bottom-xxl {
  padding-bottom: $msts-space-xxl;
}

.padding-top-xs {
    padding-top: $msts-space-xs;
}

.padding-top-sm {
    padding-top: $msts-space-sm;
}

.padding-top-md {
    padding-top: $msts-space-md;
}

.padding-top-lg {
    padding-top: $msts-space-lg;
}

.padding-bottom-sm {
    padding-bottom: $msts-space-sm;
}

.padding-bottom-md {
    padding-bottom: $msts-space-md;
}

.padding-bottom-lg {
    padding-bottom: $msts-space-lg;
}

.padding-left-sm {
    padding-left: $msts-space-sm;
}

.padding-left-md {
    padding-left: $msts-space-md;
}

.padding-left-lg {
    padding-left: $msts-space-lg;
}

.padding-right-sm {
    padding-right: $msts-space-sm;
}

.padding-right-md {
    padding-right: $msts-space-md;
}

.padding-right-lg {
    padding-right: $msts-space-lg;
}

.border-radius-md {
    border-radius: $msts-modal-border-radius;
}

.h-padding-xs {
  padding-right: $msts-space-xs;
  padding-left: $msts-space-xs;
}

.h-padding-sm {
  padding-right: $msts-space-sm;
  padding-left: $msts-space-sm;
}

.h-padding-md {
  padding-right: $msts-space-md;
  padding-left: $msts-space-md;
}

.h-padding-xxl {
  padding-right: $msts-space-xxl;
  padding-left: $msts-space-xxl;
}

.h-padding-xl {
    padding-right: $msts-space-xl;
    padding-left: $msts-space-xl;
}

.select-all-checkbox {
    margin-left: $msts-space-md;
}

.h-padding-lg {
    padding-left: $msts-space-lg;
    padding-right: $msts-space-lg;
}

.no-h-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-v-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/************************************
 * Margins
 ************************************/

.mt-1px {
  margin-top: msts-rem-calc(1px);
}

.no-margin-right {
    margin-right: 0px;
}

.margin-right-xs {
    margin-right: $msts-space-xs;
}

.margin-right-sm {
    margin-right: $msts-space-sm;
}

.margin-right-md {
    margin-right: $msts-space-md;
}

.margin-right-lg {
    margin-right: $msts-space-lg;
}

.margin-right-xl {
  margin-right: $msts-space-xl;
}

.margin-right-xxl {
  margin-right: $msts-space-xxl;
}

.no-margin-left {
    margin-left: 0px;
}

.margin-left-xs {
    margin-left: $msts-space-xs;
}

.margin-left-sm {
  margin-left: $msts-space-sm;
}

.margin-left-md {
  margin-left: $msts-space-md;
}

.margin-left-lg {
  margin-left: $msts-space-lg;
}

.margin-left-xl {
  margin-left: $msts-space-xl;
}

.margin-left-xxl {
    margin-left: $msts-space-xxl;
}

.no-margin-top {
  margin-top: 0;
}

.margin-top-xs {
  margin-top: $msts-space-xs;
}

.margin-top-sm {
  margin-top: $msts-space-sm;
}

.margin-top-md {
  margin-top: $msts-space-md;
}

.margin-top-lg {
  margin-top: $msts-space-lg;
}

.margin-top-xl {
  margin-top: $msts-space-xl;
}

.margin-top-xxl {
  margin-top: $msts-space-xxl;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: $msts-space-xs;
}

.margin-bottom-sm {
    margin-bottom: $msts-space-sm;
}

.margin-bottom-md {
    margin-bottom: $msts-space-md;
}

.margin-bottom-lg {
    margin-bottom: $msts-space-lg;
}

.margin-bottom-xl {
    margin-bottom: $msts-space-xl;
}

.margin-bottom-xxl {
    margin-bottom: $msts-space-xxl;
}

.h-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-h-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.h-margin-xs {
    margin-left: $msts-space-xs;
    margin-right: $msts-space-xs;
}

.h-margin-sm {
    margin-left: $msts-space-sm;
    margin-right: $msts-space-sm;
}

.h-margin-md {
    margin-left: $msts-space-md;
    margin-right: $msts-space-md;
}

.h-margin-lg {
    margin-left: $msts-space-lg;
    margin-right: $msts-space-lg;
}

.h-margin-xl {
    margin-left: $msts-space-xl;
    margin-right: $msts-space-xl;
}

.h-margin-xxl {
    margin-left: $msts-space-xxl;
    margin-right: $msts-space-xxl;
}

.v-margin-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.v-margin-xs {
    margin-top: $msts-space-xs;
    margin-bottom: $msts-space-xs;
}

.v-margin-sm {
    margin-top: $msts-space-sm;
    margin-bottom: $msts-space-sm;
}

.v-margin-md {
    margin-top: $msts-space-md;
    margin-bottom: $msts-space-md;
}

.v-margin-lg {
    margin-top: $msts-space-lg;
    margin-bottom: $msts-space-lg;
}

.v-margin-xl {
    margin-top: $msts-space-xl;
    margin-bottom: $msts-space-xl;
}

.v-margin-xxl {
    margin-top: $msts-space-xxl;
    margin-bottom: $msts-space-xxl;
}

