
$msts-page-animation-duration = 1s;

.absolute-before-animate {
  position: absolute;
  top: 0;
}

/***************************************************************************************************
 *                          Slide In From Right
 **************************************************************************************************/
@keyframes msts-slide-in-right {
  from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}

.msts-page-slide-in-right {
  animation-name: msts-slide-in-right;
  animation-duration: $msts-page-animation-duration;
}

/***************************************************************************************************
 *                          Slide In From Left
 **************************************************************************************************/
@keyframes msts-slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.msts-page-slide-in-left {
  animation-name: msts-slide-in-left;
  animation-duration: $msts-page-animation-duration;
}

/***************************************************************************************************
 *                          Slide Out To Right
 **************************************************************************************************/

@keyframes msts-slide-out-right {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.msts-page-slide-out-right {
  animation-name: msts-slide-out-right;
  animation-duration: $msts-page-animation-duration;
}

/***************************************************************************************************
 *                          Slide Out To Left
 **************************************************************************************************/

@keyframes msts-slide-out-left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.msts-page-slide-out-left {
  animation-name: msts-slide-out-left;
  animation-duration: $msts-page-animation-duration;
}
