
/*****************************************************************
 * Fixes for conflicts with Foundation 6 rules for HTML elements
 *****************************************************************/

.nvd3-svg {
  background-color: $chart-background;
  margin-left: 0;
}

// Fix the line-chart tooltip. The F6 styles set <table> width to 100%. This causes the tooltip
// table contents to overflow from the container div.nvtooltip.
.nvtooltip {
  > table {
    width: auto;

    > thead {
      color: inherit;
      background: inherit;
    }
  }

  tbody > tr:nth-child(even) {
    background: inherit;
  }
}

/*****************************************************************
 * Overrides NVD3 styles to match MSTS styles
 *****************************************************************/

$graph-font-style = normal;
$graph-font-family = $typography-font-family;
$graph-font-size = $body-font-size;

$graph-font = $graph-font-style $graph-font-size $graph-font-family;

.nv-axis .nv-axislabel {
  fill: $gray-g6;
  font: $graph-font-style $medium-up-font-size $graph-font-family;
  margin-left: msts-rem-calc(24px);
  margin-right: msts-rem-calc(24px);
}

.nvtooltip > table,
.nvd3 text {
  fill: $gray-g6 !important;
}

.nvtooltip > table,
  /* bar-chart, line-chart */
.nv-axis .tick tspan,
.nv-axis .tick text
.nv-axis .nv-axisMaxMin text,
  /* pie-chart */
.nv-pieLabels text {
  font: $graph-font !important;
}


// Th element <g> in following rule may look redundant but it helps
// elevating specificity to be be able to override nvd3 font declaration.
g.tick {
  > text {

    margin-right: msts-rem-calc(24px);
    // Only affects small screens, not medium or large
    +msts-breakpoint-only(sm) {
      font-size: 0.8em;
    }
  }
}

.nvd3.nv-wrap.nv-axis > .nv-axisMaxMin > text {
  font-weight: normal;
}

.tick > text,
.nv-axisMaxMin {
  fill: $gray-g6;
}

.nv-series > .nv-legend-text {
  font-size: $medium-up-font-size;
  fill: $gray-g5;
}
