// Override styles from common/styles/_core

// TODO: Add mobile styles when they are provided by design team.

+msts-breakpoint-up(sm) {
  h1, .h1 {
    font-size: $h1-font-size-d;
    font-weight: $msts-font-weight-normal;
    line-height: $h1-line-height-d;
    letter-spacing: normal;
    margin-top: $heading-margin-top-d;
    margin-bottom: $heading-margin-bottom-d;
  }

  h2, .h2 {
    font-size: $h2-font-size-d;
    font-weight: $msts-font-weight-normal;
    line-height: $h2-line-height-d;
    letter-spacing: normal;
    margin-top: $h2-margin-top-d;
    margin-bottom: $h2-margin-bottom-d;
  }

  h3, .h3 {
    font-size: $h3-font-size-d;
    font-weight: $msts-font-weight-light;
    line-height: $h3-line-height-d;
    letter-spacing: normal;
    margin-top: $h3-margin-top-d;
    margin-bottom: $h3-margin-bottom-d;
  }

  h4, .h4 {
    font-size: $h4-font-size-d;
    font-weight: $msts-font-weight-normal;
    line-height: $h4-line-height-d;
    letter-spacing: normal;
  }
}

h1, h2, h3, h4, h5, h6 {
  &.h-underlined {
    padding-bottom: msts-rem-calc(38px);
    border-bottom: 1px solid $gray-g4;
  }
}

a.body-color {
    color: $body-color
}
