// Contains styles that override a default style. Must be included as last file.

// Use on anchor <a> to disable on-hover underline effect
.no-hover-decoration:hover {
  text-decoration: none;
}

// Usually use on anchor <a> to have it color of current content
.inherit-color {
  color: inherit;

  &:hover, &:visited {
    color: inherit;
  }
}
