// TODO: Determine which of these is needed for Quasar 15/16. Move them to new location.

for $name, $size in $flex-gutter
  .{$name}-gutter
    margin (- $size) 0 0 (- $size)
    > .hz-col:nth-child(n+2)
      padding $size 0 0 $size
    > .hz-col:first-child
      padding-top: $size

// .q-if {
//   padding-bottom: 4px;

//   &:after {
//     color $link-color;
//   }
// }

// .q-if-has-label .q-if-inner {
//   padding-top: 20px;
// }

.q-tab-pane {
  padding-top: 33px;
  padding-left: 0;
  padding-right: 0;
}

.q-tabs-head:not(.scrollable) {
  padding-left: 0;
  padding-right: 0;
}

.q-tabs-head.row,
.q-tabs-scroller.row {
  margin-left: 0;
  margin-right: 0;
}

.q-tab {
  &.active {
    font-weight : $tabs-font-weight-active;
    border-bottom:  $tabs-border-bottom-active;
  }
}

.q-if-control {
  color: $gray-g5;
}
