$msts-bp-min = {
  xs: $breakpoint-xs-min,
  sm: $breakpoint-sm-min,
  md: $breakpoint-md-min,
  lg: $breakpoint-lg-min,
  xl: $breakpoint-xl-min
}

$msts-bp-max = {
  xs: $breakpoint-xs-max,
  sm: $breakpoint-sm-max,
  md: $breakpoint-md-max,
  lg: $breakpoint-lg-max,
  xl: $breakpoint-xl-max
}

// The maximum width before which content remain fluid. Once this breakpoint is reached, the
// content won't expand
$msts-breakpoint-max-fluid-width-px = 1441px;

$msts-breakpoint-xxs-max-px = 400px;

// This breakpoint is used in a few specialized styles for header. It is not standard quasar
// breakpoint as we want to stick to quasar's breakpoint definitions.
$msts-breakpoint-xs-min-px = $msts-breakpoint-xxs-max-px + 1;

msts-breakpoint-up($value) {

  $bp-rule = 'min-width: ' + $value;

  // $sizes is defined in quasar/src/css/core.variables.styl
  if ($value in $sizes) {
    $bp-rule = 'min-width: ' + $msts-bp-min[$value]
  }

  @media screen and ({$bp-rule}) {
    {block}
  }
}

msts-breakpoint-only($value) {
  if ($value in $sizes) {
    $bp-rule = 'min-width: ' + $msts-bp-min[$value] + ')';
    $bp-rule = $bp-rule + ' and (max-width: ' + $msts-bp-max[$value];

    @media screen and ({$bp-rule}) {
       {block}
    }
  }
}

msts-breakpoint-only-min-max($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
      {block}
  }
}

msts-breakpoint-down($value) {

  if ($value in $sizes) {
    $bp-rule = 'max-width: ' + $msts-bp-max[$value];
  }

  @media screen and ({$bp-rule}) {
    {block}
  }
}
