msts-nv-dashed-x-axis() {
  .nv-y .tick line, // horizontal grind lines
  .nv-x .domain {
    stroke: $gray-g3;
    stroke-dasharray: 2, 5;
    stroke-width: msts-rem-calc(2px);
  }

  .nv-x .domain {
    stroke-opacity: 1 !important;
  }

}

msts-nv-hide-y-axis() {
  .nv-y {
    .domain {
      // Hides the actual y-axis
      stroke-opacity: 0 !important;
    }
  }
}

msts-nv-hide-v-gridlines() {
  .nv-x {
    .tick.zero > line {
      // hides the vertical tick
      stroke-opacity: 0;
    }

  }
}
