@import '../../common/msts/styles/_core';
@import './styles/_core';
@import './styles/quasar-overrides/components/*';
@import '../../common/msts/styles/_shorthands';
@import '../../common/msts/styles/_utils';
@import '../../common/msts/styles/_white-space.styl';

@import '../../common/msts/styles/_components';

@import '../../common/msts/styles/transitions';

@import './styles/enforcing-style';

// TODO: Move these classes out to live somewhere else.
.page-bg-gray {
  background-color: $gray-g3;
}

.focus-visible-button {

  .q-btn {
    //opacity: 0;
    //transition: opacity 200ms ease-in;
    visibility: hidden;
  }

  .q-input.q-if-focused ~ .focus-visible-button-container > .q-btn {
    //opacity: 1;
    visibility: visible;
  }
}

.q-input-container {

  padding-bottom: 16px;

  &.with-error {
    padding-bottom: 0;
  }
}

.dt-col-r-border {
  border-right: 1px solid $msts-td-border-color;
}

+msts-ie11-up() {
  .q-field-bottom {
    width: 100%;
  }
}
