// Source: https://github.com/Akryum/v-tooltip/blob/master/demo-src/src/App.vue#L166
$msts-v-tooltip-color  ?= $body-color
$msts-v-tooltip-bg     ?= $gray-g3;

$msts-v-popover-color  ?= $body-color
$msts-v-popover-bg     ?= #f9f9f9;

.tooltip {

  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: $msts-v-tooltip-bg;
    border-width: 1px;
    border-style: solid;
    color: $msts-v-tooltip-color;
    border-radius: 4px;
    padding: 14px 16px 15px 16px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    z-index: 1;
  }

  &.info {
    .tooltip-inner,
    .tooltip-arrow {
      border-color: $gray-g5;
    }
  }

  &.warning {
    .tooltip-inner,
    .tooltip-arrow {
      border-color: $warning;
    }
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow, .tooltip-arrow:before {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }

    .tooltip-arrow {
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;

      &:before {
        content: '';
        border-style: solid;
        border-color: $msts-v-tooltip-bg;
        position: absolute;
        top: -6px;
        left: -5px;
      }
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow, .tooltip-arrow:before {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
    }

    .tooltip-arrow {
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;

      &:before {
        content: '';
        border-color: $msts-v-tooltip-bg;
        border-style: solid;
        position: absolute;
        top: 2px;
        left: -5px;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  /*
  &.info {
    $msts-v-popover-color = rgba(#004499, .9);

    .tooltip-inner {
      background: $msts-v-popover-bg;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .tooltip-arrow {
      border-color: $msts-v-popover-bg;
    }
  }
  */

  &.popover {

    .popover-inner {
      background: $msts-v-popover-bg;
      color: $msts-v-popover-color;
      padding: msts-rem-calc(6px);
      border-radius: msts-rem-calc(2px);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    &[x-placement^="bottom"] {
      .tooltip-arrow:before {
        border-color: $msts-v-popover-bg;
      }
    }

  }
}

.msts-v-tooltip-modern {

  &[x-placement^="bottom"] {

    .tooltip-arrow, .tooltip-arrow:before {
      border-width: 0 7px 9px 7px;
    }

    .tooltip-arrow {
      top: -9px;
      left: calc(50% - 11px);

      &:before {
        top: 2px;
        left: -7px;
      }
    }
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow, .tooltip-arrow:before {
      border-width: 9px 7px 0 7px;
    }

    .tooltip-arrow {
      bottom: -9px;
      left: calc(50% - 11px);

      &:before {
        top: -10px;
        left: -7px;
      }
    }
  }
}